body{
    font-family: 'Hero New', sans-serif;         
    font-weight: lighter;   
    margin: 0;                       
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    border: none;
}

.darkBlue{
    color: #1f2937;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.invBox{
    width: 1050px;  
    margin: 0 auto;  
}

.sec1AllContent{
    background-color: #1f2937;
}

.linkSpacing{
    margin-left: 30px;
    position:relative;
    top: -65px;
    font-weight: lighter;
}

.sec1Content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 130px;
}

.placeholderImage{
    color: #E5E7EB;
    background-color: #71757e;
    width: 525px;
    height: 233px;
    font-size: 18px;
}

.sec2{
    background-color: white;
}

.imageAndSubtext{
    padding-bottom: 100px;
}

.sec3{
    background-color: #E5E7EB; 
}

.outerRectangle{
    background-color: #3882F6;
    width: 1050px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    color: #E5E7EB;
    border-radius: 8px;
    margin: 100px auto;
}

.sec4Left, .sec4Right{
    align-self: center;
}

.sec4Right{
    border: 2px solid white;
    border-radius: 8px;
}

#header-left, #header-right{
    display: flex;
}

#header-left{
    font-size: 24px;
    color: #F9FAF8;
    justify-content: flex-start;
    font-weight: bold;
}

#header-right{
    font-size: 18px;
    color: #E5E7EB;
    justify-content: flex-end;
}

#sec1Content-left{
    width: 450px;
    margin-right: 50px;
}

#sec1Content-main{
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
    margin-bottom: -50px;
    margin-top: -48px;
}

#sec1Content-subtext{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

#box{
    width: 170px;
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

#sec2TopInfo{
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    color: #1f2937;
}

#sec3Content{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding: 80px;
    width: 800px;
}

#sec3Quote{
    padding-top: 40px;
    margin: 0 auto;
}

#sec3Auth{
    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
}

#sec4LeftTop, #sec4LeftBottom{
    margin: 0 0 0 0;
}

#sec4LeftTop{
    font-weight: bold;
    font-size: 25px;
}

#sec4LeftBottom{
    font-size: 17px;
}